<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
		<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  	</head>
 	<body background="/static/images/background.jpg">
  		<div class="container">	
  			<div class="row">
  				<h1>TODOLIST<small>demo</small></h1>
  			</div>
  			<div class="row">
  				<div class="col-md-4 col-md-offset-3" style="margin-top:6%">
   					<form method="post" class="form-horizontal" action="login" role="form">
   						{% csrf_token %}
						<div class="form-group">
							<label class="col-sm-2 control-label">username</label>
							<div class="col-sm-10">
								<input style="margin-left:5%;" type="text" class="form-control" name="username" required='required' /> 
							</div>
						</div>
						{% if info %}
						<div class="col-sm-offset-2 col-sm-10">
							<p><strong>{{info}}</strong></p>
						</div>
						{% endif %}
						<div class="form-group">
							<label class="col-sm-2 control-label">password</label>
							<div class="col-sm-10">
								<input style="margin-left:5%" type="password" class="form-control" name="password" required='required' />
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<input style="margin-left:5%" type="submit" class="btn btn-info" value="login" />
							</div>
						</div>
						<div class="col-sm-offset-2 col-sm-10">
							<p>Still no account?<a href="register">Register</a>now</p>
						</div>
					</form>
				</div>
			</div>
		</div>
 	</body>
</html>